.contacts {
  position: relative;
  margin-left: 90px;
}

.contacts::before {
  position: absolute;
  content: "";

  height: 189px;
  width: 1px;
  right: 0px;
  top: 20px;
  background-color: #d7d9df;
}

.contacts__title {
  margin-bottom: 25px;
}

.contacts__email {
  display: block;
  position: relative;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: left;

  color: #fe7865;

  margin-left: 40px;
  margin-bottom: 8px;
}

.contacts__email::after {
  position: absolute;
  content: "";

  width: 30px;
  height: 20px;
  left: -40px;

  background-image: url("../img/icon-email.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.contacts__tel {
  position: relative;
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: left;

  color: #fe7865;
  margin-left: 40px;
}

.contacts__tel::after {
  position: absolute;
  content: "";

  width: 25px;
  height: 25px;
  left: -35px;
  top: -5px;

  background-image: url("../img/icon-phone-footer.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

@media (max-width: 1024px) {
  .contacts::before {
    display: none;
  }
}
