.corporate-travel {
  margin-left: 50px;
}

.corporate-travel__description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;

  color: rgba(20, 21, 23, 0.5);
}

@media (max-width: 1024px) {
  .corporate-travel {
    margin-top: 50px;
    margin-left: 0px;
  }

  .corporate-travel__title {
    text-align: center;
  }

  .corporate-travel__description {
    text-align: center;
  }
}
