.feedback {
  position: relative;
  margin-bottom: 150px;
  margin-left: 50px;
}

.feedback__block {
  position: absolute;
  top: 15%;
  right: calc(35% - 328px);
  /*left: 328px;*/
  z-index: 2;
  width: 656px;
  background-color: #ffffff;
  box-shadow: 0px 4px 30px rgba(41, 54, 66, 0.1);
  border-radius: 5px;
}

.feedback__title {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  margin-top: 50px;
  margin-bottom: 5px;

  text-align: center;

  color: #141517;
}

.feedback__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;

  text-align: center;

  color: #141517;
}

.feedback__input {
  width: 269px;

  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 14px;
  margin-bottom: 124px;

  box-sizing: border-box;
}

.feedback__input:first-child {
  margin-left: 50px;
}

.feedback__button {
  position: absolute;
  display: block;
  border: none;
  padding: 18px 20px 18px 20px;
  box-sizing: border-box;
  width: 176px;
  bottom: 40px;
  right: calc(50% - 88px);
}
