.info-contacts {
  display: flex;
}

.info-contacts__tel {
  display: block;
  padding-top: 38px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 55px;

  font-size: 18px;
  line-height: 32px;
  color: #fe7865;
}
