.logo {
  display: flex;
  align-self: center;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 40px;
  padding: 2px 25px 0 15px;
  width: 100px;
}

@media (max-width: 1024px) {
  .logo {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 13px;
  }
}
