.promo {
  min-height: 860px;

  /*цвет отредактировать*/
  background-image: url("../img/promo-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto 860px;
}

.promo__wrapper {
  max-width: 1200px;
  min-height: 860px;
  margin: 0 auto;

  display: flex;
  flex-grow: row;
  justify-content: flex-end;
  align-items: center;
}

.promo__info {
  align-items: center;
  width: 50%;
}

