.promo {
  min-height: 860px;

  /*цвет отредактировать*/
  background-image: url("../img/promo-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto 860px;

  margin-bottom: 155px;
}

.promo__wrapper {
  max-width: 1200px;
  min-height: 860px;
  margin: 0 auto;

  display: flex;
  flex-grow: row;
  justify-content: flex-end;
  align-items: center;
}

.promo__info {
  width: 40%;
  align-self: flex-start;
  margin-top: 15.5%;
}

.promo__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  color: #ffffff;
  margin: 0;
}

.promo__description {
  width: 72%;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;

  margin-bottom: 40px;
}

.promo__button {
  position: relative;
}

.promo__icon {
  position: absolute;
  top: 31px;
  right: 40px;
}

@media (max-width: 1024px) {
  .promo {
    background-image: url("../img/promo-table.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: auto 450px;
    min-height: 450px;

    margin-bottom: 55px;
  }

  .promo__wrapper {
    min-height: 450px;
  }

  .promo__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 80px;
    align-content: center;
  }

  .promo__title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;

    text-align: center;
  }

  .promo__description {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;

    text-align: center;

    width: 50%;
    align-self: center;
  }

  .promo__button {
    align-self: center;
  }

}
