.site-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;
}

.site-list__item {

}
/*готова*/
.site-list__link {
  display: block;
  padding-top: 44px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;

  font-size: 14px;
  font-style: normal;
  line-height: 17px;
  font-weight: 500;
  color: #141517;

  text-decoration: none;
}
/*готова*/
.site-list__link[href] {
  &:hover {
    color: #fe7865;
  }

  &:active {
    color: #fe7865;
  }
}
