.slider__wrapper {
  position: relative;

  display: flex;
  flex-direction: row;
  margin-top: 42px;
  margin-left: 5px;
}

.slider__toggle {

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(44, 46, 63, 0.3);
  letter-spacing: -0.415px;
  text-align: center;

  border: 0;
  background-color: #ffffff;

}

.slider__toggles {
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);
  padding-bottom: 15px;
  margin-top: 12px;
  box-sizing: border-box;
  width: 899px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 50px;
}

.slider__toggle--active {
  color: #fe7865;
}

.slider__wrapper--greece {

}

.slider__wrapper--albania {
  display: none;
}

.slider__wrapper--macedonia {
  display: none;
}

.slider__wrapper--montenegro {
  display: none;
}

.slider__wrapper--croatia {
  display: none;
}

.slider__info {
  position: relative;

  width: 30%;
  margin-left: 50px;
}

.slider__title {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.245px;
  color: #2c2e3f;
}

.slider__title::before {
  content: "";

  position: absolute;
  bottom: -18px;
  left: 0px;

  width: 175px;
  height: 3px;

  background-color: #fe7865;
}

.slider__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;

  letter-spacing: -0.466667px;

  color: rgba(44, 46, 63, 0.7);
  margin-bottom: 50px;
}

.slider__img {
  margin-top: 36px;
  margin-left: 111px;
}

.slider__block {
  position: absolute;
  top: 150px;
  right: 20%;
}

.slider__button {
  border: none;
}
